@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background: #1e1e2f; /* Arrière-plan noir */
  color: #ffffff; /* Texte en blanc */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Conteneur centré et adaptable avec plus de marge */
.container {
  background: #2b2b3d; /* Conteneur bleu foncé */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 800px;
  margin: 50px auto; /* Ajoute plus de marge autour du conteneur */
  box-sizing: border-box;
  font-size: 1.2rem; /* Ajustement de la taille de la police de base */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* la ou je rentre  les donnees des taches. */
header input,
header select,
header button {
  width: 100%;
  padding: 10px;
  border: 1px solid #444; /* Bordure plus foncée */
  border-radius: 5px;
  margin-bottom: 10px;
  background: #3c3c51; /* Fond des champs de saisie */
  color: white; /* Couleur du texte */
  box-sizing: border-box;
  font-size: 1em; /* Taille de police proportionnelle */
}

header button {
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

header button:hover {
  background: #0056b3;
}

/* Assurez que la liste des tâches s'adapte bien */
#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #3c3c51;
  border-radius: 5px;
  font-size: 1em; /* Taille de police proportionnelle */
}

#taskList li.completed {
  background: green;
}

#taskList li button {
  margin-left: 10px;
  margin-top: 5px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#taskList li button:hover {
  background: #0056b3;
}

/* Styles pour s'assurer que tout est bien responsive */
@media (max-width: 600px) {
  .container {
    width: 94%;
    padding: 20px 10px; /* Ajout de padding pour les petits écrans */
  }
  header input,
  header select,
  header button,
  #taskList li {
    width: 100%;
    box-sizing: border-box;
  }
  #taskList li {
    flex-direction: column;
    align-items: flex-start;
  }
  #taskList li button {
    width: 100%;
    margin-top: 5px;
  }
}
/* Pour les grands écrans */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    font-size: 1.5rem; /* Ajustement de la taille de la police pour les grands écrans */
  }
  header input,
  header select,
  header button,
  #taskList li {
    font-size: 1.2em; /* Ajustement de la taille de la police proportionnelle pour les éléments */
  }
}
/* Pour les écrans en mode paysage */
@media (orientation: landscape) {
  .container {
    max-width: 90%;
    padding: 10px; /* Réduction du padding pour les écrans en mode paysage */
    margin: 10px auto; /* Réduction de la marge pour les écrans en mode paysage */
    height: auto; /* Assurer que la hauteur s'ajuste automatiquement */
    font-size: 0.8rem; /* Réduction de la taille de la police */
  }
  header input,
  header select,
  header button,
  #taskList li {
    font-size: 0.8em; /* Réduction de la taille de la police pour les éléments */
    padding: 5px; /* Réduction de la taille de padding */
  }
  #taskList li {
    flex-direction: row; /* Assurez que les éléments restent en ligne */
    align-items: center; /* Centrez les éléments verticalement */
  }
  #taskList li button {
    width: auto;
    margin-top: 0;
    padding: 3px; /* Réduction de la taille de padding des boutons */
  }
}
/* Pour les tablettes */
@media (max-width: 768px) and (orientation: landscape) {
  .container {
    width: 100%;
    padding: 20px; /* Ajustement du padding pour les tablettes en mode paysage */
  }
  header input,
  header select,
  header button,
  #taskList li {
    font-size: 1em; /* Ajustement de la taille de la police proportionnelle pour les tablettes */
  }
}
@media (min-width: 825px) and (orientation: landscape) {
  .container {
    max-width: 90%;
    padding: 10px; /* Réduction du padding pour les écrans en mode paysage */
    margin: 10px auto; /* Réduction de la marge pour les écrans en mode paysage */
    height: auto; /* Assurer que la hauteur s'ajuste automatiquement */
    font-size: 1.5rem; /* Réduction de la taille de la police */
  }
  header input,
  header select,
  header button,
  #taskList li {
    font-size: 1.8em; /* Réduction de la taille de la police pour les éléments */
    padding: 5px; /* Réduction de la taille de padding */
  }
  #taskList li {
    flex-direction: row; /* Assurez que les éléments restent en ligne */
    align-items: center; /* Centrez les éléments verticalement */
  }
  #taskList li button {
    width: auto;
    margin-top: 0;
    padding: 3px; /* Réduction de la taille de padding des boutons */
    font-size: 1.3rem;
  }
}
main ul {
  list-style: none;
  padding: 0;
}

main li {
  background: #444; /* Fond des tâches */
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #fff; /* Texte des tâches en blanc */
}

main li.completed {
  color: #00f87c;
}

main li button {
  align-self: flex-end;
  border: none;
  background: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

main li button:hover {
  background: #c82333;
}

#clearAllTasksButton {
  display: none;
  border-radius: 5px;
  background: red;
  outline: none;
  border: 1px;
  padding: 10px;
}
#clearAllTasksButton:hover {
  background: whitesmoke;
} /*# sourceMappingURL=index.css.map */
